:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #f5f4fa;
  --secondary-backgroung-color: #e5e5e5;
  --footer-hero-background-color: #2f303a;
  --header-background-color: #ffffff;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  letter-spacing: 0.03em;
}
.button {
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--accent-color);
  color: white;
}
.hero .button {
  background-color: var(--accent-color);
  color: #ffffff;
}
footer {
  background: var(--footer-hero-background-color);
}

.nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}
.nav .current {
  color: var(--accent-color);
}
.contact-link:focus,
.contact-link:hover {
  color: var(--accent-color);
}
.contact-link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.address-link {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
.hero {
  background-color: var(--footer-hero-background-color);
}
.team {
  background-color: var(--secondary-backgroung-color);
}
h1 {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
h2 {
  color: var(--secondary-text-color);
}
.studio-h2 {
  font-size: 36px;
  line-height: 1.7;
}
.portfolio-h2 {
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}
h3 {
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}
.features {
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}
.team-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
}
.logo {
  font-family: Raleway;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.header {
  background-color: var(--header-background-color);
}
address {
  font-style: normal;
}
.top-span {
  color: var(--secondary-text-color);
}
.bottom-span {
  color: #ffffff;
}
